@{
    ViewBag.Title = "About";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>About  Us</h2>

            <div class="about-info">
                <p>We run a successful London nursery, so we understand what is most important to both children and clients.  Our industry knowledge enables us to recognise what is sometimes an innate affinity for working with children. The day-to-day running of a nursery means that we are constantly engaged on both a managerial and practical level - you are just as likely to find us in the office as helping with the children in the nursery itself.  We believe that children should only be exposed to excellent childcare professionals. Nationwide Nannies guarantees that anyone represented by us will be just that.</p>
                
                <p>We understand that client satisfaction is of the upmost importance in the childcare industry. Parents put their complete trust in us on a daily basis by allowing us to look after their children, and we have never let them down. </p>
                
                <p><span class="paragraph-header">Meet the Team:</span></p>
                
                <p>
                    <span class="paragraph-header">Shafaq Hammad</span>
                    - Before pursuing my passion for providing excellent childcare, I trained as a lawyer. I set up my own nursery in 2013 and, since then, the happiness of the children and the satisfaction of their carers has been my upmost priority. I find childcare rewarding because giving a child the best start in life not only matters for their present but also for their future. With this is in mind, I decided to branch out with this second venture within childcare. I take pride in client satisfaction and enjoy fostering long-lasting relationships with customers and practitioners. For me, the key to a successful business is open communication. I always strive to go the extra mile for every one of my clients.</p>
                <p>
                    <span class="paragraph-header">Grace Peters </span>
                    - I love being able to combine working around children with orchestrating the smooth running of a business. I am experienced both as a manager and as a practitioner, qualified NVQ Level 3 in Childcare. With over 7 years of experience within the childcare sector, I know that a successful dynamic between carer, child, parent and organisation is essential. I can also relate my experience as a working mother of two - I understand what it takes to trust your little one in another person’s care.  I am friendly, passionate about my work and always available to help, no matter what you need. 
                </p>

            </div>
        </div>
    </div>
</div>
