
@{
    ViewBag.Title = "Cookie Policy";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "";

}


<div class="contactus-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>NATIONWIDE NANNIES WEBSITE COOKIE POLICY</h2>
                    <div class="about-info">

                        <p style="font-weight:bold;">PLEASE READ THIS WEBSITE COOKIE POLICY CAREFULLY BEFORE USING THIS SITE</p>

                        <p>By using and continuing to browse @System.Configuration.ConfigurationManager.AppSettings["baseUrl"] (our site) you accept, and agree to abide by, this website cookie policy, which supplements our terms of website use. </p>

                        <p>
                            <span class="paragraph-header">INFORMATION ABOUT OUR USE OF COOKIES</span><br />
                            Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.
                        </p>

                        <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.</p>
                        
                        <p>
                            We use the following cookies:
                            <ul>
                                <li><span class="paragraph-header">Strictly necessary cookies.</span>These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website.</li>
                                <li><span class="paragraph-header">Analytical/performance cookies.</span>They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. </li>
                                <li><span class="paragraph-header">Functionality cookies.</span>These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences.</li>
                                <li><span class="paragraph-header">Targeting cookies.</span>These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.</li>
                            </ul>
                        </p>

                        <p>Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies</p>
                        <p>You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site. </p>
                        <p>Except for essential cookies, all cookies will expire after 12 months. </p>

                        <p>
                            <span class="paragraph-header">CONTACT</span><br />
                            Questions, comments and requests regarding this cookie use policy should be addressed to <a href="mailto: @System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]"> @System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]</a>.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


