@{
    ViewBag.Title = "Equal Opportunites";
}


<div class="clients-bg" style="background: url(../images/DSC_0610.jpg);background-size: cover;">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>NATIONWIDE NANNIES LIMITED EQUAL OPPORTUNITIES POLICY</h2>
                    <div class="about-info">

                        <p>
                            <ul style="list-style-type:none;">
                                <li>
                                    <span class="paragraph-header">1. EQUAL OPPORTUNITIES STATEMENT </span><br />
                                    Nationwide Nannies Limited (We) are committed to promoting equal opportunities in employment. You and any job applicants will receive equal treatment regardless of age, disability, gender reassignment, marital or civil partner status, pregnancy or maternity, race, colour, nationality, ethnic or national origin, religion or belief, sex or sexual orientation (Protected Characteristics).
                                </li>
                                <li>
                                    <span class="paragraph-header"> 2.	ABOUT THIS POLICY</span>
                                    <ol style="list-style-type:none;">
                                        <li>2.1	This policy sets out our approach to equal opportunities and the avoidance of discrimination at work. It applies to all aspects of recruitment with us, conduct at work, disciplinary and grievance procedures, and termination of employment.</li>
                                        <li>2.2	This policy does not form part of any employee's contract of employment and we may amend it at any time.</li>
                                    </ol>
                                </li>
                                <li>
                                    <span class="paragraph-header">3.	DISCRIMINATION</span><br />
                                    <ol style="list-style-type:none;">
                                        <li>3.1	You must not unlawfully discriminate against or harass other people including current and former employees, job applicants, clients, customers, suppliers and visitors. This applies in the workplace, outside the workplace (when dealing with customers, suppliers or other work-related contacts), and on work-related trips or events including social events.</li>
                                        <li>
                                            3.2	The following forms of discrimination are prohibited under this policy and are unlawful:
                                            <ol style="list-style-type:none;">
                                                <li><span class="paragraph-header">(a)	Direct discrimination:</span> treating someone less favourably because of a Protected Characteristic. For example, rejecting a job applicant because of their religious views or because they might be gay.</li>
                                                <li><span class="paragraph-header">(b)	Indirect discrimination:</span> a provision, criterion or practice that applies to everyone but adversely affects people with a particular Protected Characteristic more than others, and is not justified. For example, requiring a job to be done full-time rather than part-time would adversely affect women because they generally have greater childcare commitments than men. Such a requirement would be discriminatory unless it can be justified.</li>
                                                <li><span class="paragraph-header">(c)	Harassment:</span> this includes sexual harassment and other unwanted conduct related to a Protected Characteristic, which has the purpose or effect of violating someone's dignity or creating an intimidating, hostile, degrading, humiliating or offensive environment for them. </li>
                                                <li><span class="paragraph-header">(d)	Victimisation:</span> retaliation against someone who has complained or has supported someone else's complaint about discrimination or harassment.</li>
                                                <li><span class="paragraph-header">(e)	Disability discrimination:</span> this includes direct and indirect discrimination, any unjustified less favourable treatment because of the effects of a disability, and failure to make reasonable adjustments to alleviate disadvantages caused by a disability.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <span class="paragraph-header">4.	RECRUITMENT AND SELECTION</span>
                                    <ol style="list-style-type:none;">
                                        <li>4.1	Recruitment, and other selection exercises will be conducted on the basis of merit, against objective criteria that avoid discrimination.</li>
                                        <li>4.2	Vacancies should generally be advertised to a diverse section of the labour market. Advertisements should avoid stereotyping or using wording that may discourage particular groups from applying.</li>
                                        <li>4.3	Job applicants should not be asked questions which might suggest an intention to discriminate on grounds of a Protected Characteristic. For example, applicants should not be asked whether they are pregnant or planning to have children.</li>
                                        <li>4.4	Job applicants should not be asked about health or disability before a job offer is made, except in the very limited circumstances allowed by law: for example, to check that the applicant could perform an intrinsic part of the job (taking account of any reasonable adjustments), or to see if any adjustments might be needed at interview because of a disability. Health or disability questions may be included in equal opportunities monitoring forms, which must not be used for selection or decision-making purposes. </li>
                                    </ol>
                                </li>

                                <li>
                                    <span class="paragraph-header">5.	DISABILITIES</span><br />
                                    If you are disabled or become disabled, we encourage you to tell us about your condition so that we can consider what reasonable adjustments or support may be appropriate.
                                </li>

                                <li>
                                    <span class="paragraph-header">6.	PART-TIME AND FIXED-TERM WORK</span><br />
                                    Part-time and fixed-term employees should be treated the same as comparable full-time or permanent employees and enjoy no less favourable terms and conditions (on a pro-rata basis where appropriate), unless different treatment is justified.
                                </li>

                                <li>
                                    <span class="paragraph-header">7.	BREACHES OF THIS POLICY</span>
                                    <ol style="list-style-type:none;">
                                        <li>7.1	We take a strict approach to breaches of this policy, which will be dealt with in accordance with our Disciplinary Procedure. Serious cases of deliberate discrimination may amount to gross misconduct resulting in you no longer being a candidate. </li>
                                        <li>7.2	If you believe that you have suffered discrimination you can raise the matter by contacting us at <a href="mailto: @System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]"> @System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]</a>. Complaints will be treated in confidence and investigated as appropriate.</li>
                                        <li>7.3	You must not be victimised or retaliated against for complaining about discrimination. However, making a false allegation deliberately and in bad faith will be treated as misconduct and dealt with under our Disciplinary Procedure.</li>
                                    </ol>
                                </li>
                            </ul>
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


