@{
    ViewBag.Title = "WorkingWithYou";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "";

}

<div class="candidates-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    @*<h2>Working with You</h2>
                    *@

                    <div class="about-info">


                        <p>
                            <span class="paragraph-header">UK’s leading childcare experts</span><br />
                            After years of childcare experience, we know the qualities that make the perfect nanny.  We believe that each child and family is unique, so we take the time to find the best possible match for you.
                            <a href="/clients/EmployThroughUs" class="know-more">know more</a>
                        </p>


                        <p>
                            <span class="paragraph-header">Get your perfect fit</span><br />
                            Whether you require a bilingual nanny, a maternity nurse, help with the housekeeping/mothers helper, live in or live out nanny, on a temporary or permanent basis we are sure that we have the right person to fit your specifications.
                            <a href="/services/Nannies" class="know-more">know more</a>
                        </p>


                        <p>
                            <span class="paragraph-header">Hassle free recruitment</span><br />
                            We strive to make what can be a difficult process into a smooth and stress-free transition, helping you every step of the way, from offer letters to devising contracts and payroll.
                            <a href="/clients/StartYourNannySearch" class="know-more">know more</a>
                        </p>


                        <p>
                            <span class="paragraph-header">Dependable</span><br />
                            Nationwide Nannies offers a wide variety of emergency childcare services ranging from day time to evening and weekend babysitting. Our staff go through a stringent vetting process with a ‘must have’ clear DBS. We are here for you 365 days of the year, so just sit back and relax.
                            <a href="/services/BabySitters" class="know-more">know more</a>
                        </p>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



