@{
    ViewBag.Title = "Home";
}

<link href="~/Content/owl.carousel.css" rel="stylesheet">

<script src="~/Scripts/responsiveslides.min.js"></script>
<script src="~/Scripts/owl.carousel.js"></script>
<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto:true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			pager:true,
		  });
		});
</script>


<script>
		$(document).ready(function() {
		$("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		});
		});
</script>

		<!---banner--->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <div class="slid banner1">
                <div class="caption">
                    <h4 style="font-weight:bold; text-align:left;">UK’s leading childcare experts</h4>
                    <p style="font-weight:bold;">After years of childcare experience, we know the qualities that make the perfect nanny.  We believe that each child and family is unique, so we take the time to find the best possible match for you.</p>
                    @*<a href="#" class="button">know more</a>*@
                </div>
            </div>
            <div class="slid banner2">
                <div class="caption">
                    <h4 style="font-weight:bold; text-align:left;">UK’s leading childcare experts</h4>
                    <p style="font-weight:bold;">Whether you require a bilingual nanny, a maternity nurse, help with the housekeeping/mothers helper, live in or live out nanny, on a temporary or permanent basis we are sure that we have the right person to fit your specifications.</p>
                    @*<a href="#" class="button">know more</a>*@
                </div>
            </div>
            <div class="slid banner3">
                <div class="caption">
                    <h4 style="font-weight:bold; text-align:left;">UK’s leading childcare experts</h4>
                    <p style="font-weight:bold;">We strive to make what can be a difficult process into a smooth and stress-free transition, helping you every step of the way, from offer letters to devising contracts and payroll.</p>
                    @*<a href="#" class="button">know more</a>*@
                </div>
            </div>
            <div class="slid banner4">
                <div class="caption">
                    <h4 style="font-weight:bold; text-align:left;">UK’s leading childcare experts</h4>
                    <p style="font-weight:bold;">Nationwide Nannies offers a wide variety of emergency childcare services ranging from day time to evening and weekend babysitting. Our staff go through a stringent vetting process with a ‘must have’ clear DBS. We are here for you 365 days of the year, so just sit back and relax! </p>
                    @*<a href="#" class="button">know more</a>*@
                </div>
            </div>
        </ul>
    </div>
</div>
<!---banner--->