
@{
    ViewBag.Title = "RoleResponsibilitiesNanny";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Role and Responsibilities of a nanny</h2>

            <div class="about-info">               

                <div class="divCenter">

                    <h3 style="text-align:center;">Role of a nanny</h3>
                    <div class="divBox">
                        <p>
                            As a nanny, you should fulfil all childcare duties whilst your employer’s child is in your care. This will include:

                            <ul>
                                <li>Making sure that the child’s emotional needs are met through an understanding and loving demeanour.</li>
                                <li>Providing stimulating activities to encourage the child’s development.</li>
                                <li>Ensuring that the child’s clothes are clean and that they are presentable.</li>
                                <li>Cooking them balanced and healthy meals.</li>
                                <li>Developing social interaction and communication/language skills.</li>
                                <li>Teaching and promoting independence, self-care and hygiene awareness e.g. potty/toilet training.</li>
                                <li>Promoting an active and healthy lifestyle (not plonking them down in front of the television for hours).</li>
                            </ul>
                        </p>

                        <p>Above all, your role is to provide a loving and stable environment for your employer’s child.</p>
                    </div>
                </div>
                <p>&nbsp;</p>            

                <div class="divCenter">

                    <h3 style="text-align:center;">Working Hours</h3>
                    <div class="divBox">
                        <p>
                            A Nanny should fulfil all childcare duties whilst your child is in their care. This will include:

                            <ul>
                                <li>Although each family’s timetable and lifestyle differs, it is generally expected that you should have two days free a week.</li>
                                <li>It is encouraged that you and your employer come to an agreement as to when you will be expected to assist during the evenings and weekends.</li>
                                <li>It is better to have a clear arrangement in place that can then adapt as you get to know each other. </li>
                                <li>You are entitled to 28 days of paid annual leave (if you are working five days a week). Bank and public holidays can be included in the minimum entitlement.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
