@{
    ViewBag.Title = "SelectionNannies";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Selection Process for Nannies</h2>

            <div class="about-info">
                <p>Whether you are looking for a change from your current role/responsibilities, taking your career to the next level or even looking to earn extra money through our emergency childcare/babysitting services we are here for you.</p>

                <p>
                    <span style="font-weight:bold;">Please bear in mind, Nationwide Nannies only helps recruit candidates with childcare qualifications and/or relevant childcare experience.</span>
                    If you have what it takes to be a devoted childminder/nanny please fill out the attached application <a href="/home/jobs" style="text-decoration:underline;">form</a>. 
                </p>
                
                <p>If you are replying to a particular vacancy you are interested in, please state the advert in your cover statement on the candidate registration form.</p>
                
                <p>
                    In order for your application to be considered by Nationwide Nannies you must have:
                    <ul>
                        <li>An up to date CV, including photo (with no gaps in employment) and trackable references.</li>
                        <li>If successful, you will be advised to bring proof of your qualifications and an up to date DBS to the interview, along with any in-date courses you may have attended (first aid, food hygiene, safeguarding etc). Interviews are conducted face to face only.</li>
                        <li>In addition to the above, you must also bring other relevant documents to the interview, such as right to live and work in the UK (passport/visa card), valid driving licence etc.</li>
                    </ul>
                </p>

                <p>An applicant short of any of the documents above will not be able to have a successful placement through us. Once successful, we might be able to help you with a placement straightaway. In case we don’t have anything that matches your profile straightaway, there is no need to worry as we will inform you as soon as a suitable placement becomes available. </p>
                
            </div>
        </div>
    </div>
</div>
