
@{
    ViewBag.Title = "Selection Process: Babysitters - Nationwide Nannies";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Visit Nationwide Nannies today to find information about our babysitter selection process. You can also fill in our babysitter application form online.";

}

<div class="candidates-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Selection process for babysitters</h2>

                    <div class="about-info">
                        <p>Even if you love your current role, be it a nursery practitioner, nanny, childminder or a teacher, there are always ways to earn extra money. With this in mind, Nationwide Nannies is here to cater for everyone.</p>

                        <p>For this role a qualification will be ideal but not essential. However, relevant childcare experience is a must. Enrol on to our babysitters/emergency carer’s database today by filling out the attached application <a href="/home/jobs" style="text-decoration:underline;">form</a>.</p>

                        <p>
                            For your application to be considered:
                            <ul>
                                <li>You must have an up to date DBS (with no records of convictions)</li>
                                <li>An up to date CV (with photo included) and trackable references</li>
                                <li>If successful, you will be advised to bring proof of your qualifications and an up to date DBS to the interview, along with any in date courses you may have attended (first aid, food hygiene, safeguarding etc). Interviews are conducted face to face only.</li>
                                <li>In addition to the above, you must also bring other relevant documents to the interview, such as right to live and work in the UK (passport/visa card), valid driving licence etc.</li>
                            </ul>
                        </p>

                        <p>Once successful, babysitters/emergency carer’s will be on a zero hour contract. This means that you only get paid for the hours worked. This will also not conflict with your contract at your normal day to day job. All baby sitters must be in uniform when working through us and display an ID upon arrival. For such services, you also need to be open to the idea of a nanny cam being in the child’s house. You will always be informed, if nanny cam is in use for a particular shift.  </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



