
@{
    ViewBag.Title = "WorkingWithYou";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Working with You</h2>

            <div class="about-info">
                <p>We want to help you become part of a family in which you will feel happy and secure.  As experienced childcare professionals, we know the industry inside out, including how daunting looking for your ideal setting can seem. Our commitment to providing an excellent experience for both nannies and families can lead you to a fantastic work opportunity. We promise that we will always act with your interests at heart, will always be receptive to feedback and will provide you with guidance throughout your role as a nanny. Nationwide Nannies will also help you in a practical capacity, providing aid with paperwork and planning activities, which we know is especially important to those registered with Ofsted. </p>

                <p>We would like to know you as an individual. Details such as your employment history and where you see your career going, as well as your hobbies and interests will help us to find you the perfect role. Registration is free for both qualified and unqualified nannies, so there is no harm in getting in touch with us and seeing where we can take you.</p>
            </div>
        </div>
    </div>
</div>

