@model NationwideNannies.Models.BlogPost
@using NationwideNannies.Utils

@{
    ViewBag.Title = "Blog Post - Nationwide Nannies";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "";

    if(Model != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            ViewBag.Title = string.Format("{0} - Nationwide Nannies", Model.Title);
            ViewBag.MetaKeywords = ViewBag.Title;
        }

        if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            ViewBag.MetaDescription = Model.Description;
        }

        if (!string.IsNullOrWhiteSpace(Model.PostContent))
        {
            string blogSiteUrl = System.Configuration.ConfigurationManager.AppSettings["blogSitebaseUrl"];
            string textForImageSrc = "/image.axd?";
            string textForFileSrc = "/file.axd?";

            Model.PostContent = Model.PostContent.Replace(textForImageSrc, blogSiteUrl + textForImageSrc);
            Model.PostContent = Model.PostContent.Replace(textForFileSrc, blogSiteUrl + textForFileSrc);
        }
    }


}


<div class="aboutus-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">

                    @if (Model == null)
                    {
                        <p> This post is no longer available</p>
                    }
                    else
                    {
                        if (!Model.DateCreated.HasValue)
                        {
                            Model.DateCreated = DateTime.Now;
                        }

                        <h2>@Html.Raw(Model.Title)</h2>
                        <p>
                            <span class="paragraph-header">
                                @Model.DateCreated.Value.ToString("MMMM dd yyyy")
                            </span>
                        </p>

                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_sharing_toolbox"></div>

                        <div class="about-info">
                            @Html.Raw(Model.PostContent)

                        </div>

                        <div class="addthis_sharing_toolbox"></div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
