@{
    ViewBag.Title = "Blog Post - Nationwide Nannies";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "";

}

<div class="aboutus-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Title of Post</h2>

                    <div class="about-info">
                        content of post

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


