@{
    ViewBag.Title = "Babysitters";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Babysitters</h2>

            <div class="about-info">
                <p>Nationwide Nannies has a reliable and experienced group of babysitters on hand, so you can go out safe in the knowledge that your child will be excellently cared for.</p>

                <p>All of our babysitters hold an up to date DBS and have been handpicked by ourselves. Our child-minders are experts in how to make children feel safe and secure by way of kindness and a sense of good fun.  We will always try to make sure that your child is placed with the same sitter because we know that there is nothing more reassuring than a familiar face. </p>

                <p>We realise the importance of providing you with someone who is available to work at short notice and who is situated close to you.  Our babysitters are available 365 days of the year and can be booked for a minimum of 4 hours per booking. As a parent you also have the option to use nanny cam. Just let us know, as the baby sitter must be made aware of the camera in use. </p>


                <p style="font-weight:bold;">Sign up for our monthly membership today and reap the benefits of this express service. For your piece of mind, you pay nothing until you use our services. The monthly membership fee in addition to a booking fee will only be charged once you have booked your first service.</p>

                <p style="font-weight:bold;">MONTHLY MEMBERSHIP £13.00 plus</p>

                <table class="nanny-table" style="margin-left:50px; font-weight:bold;">
                    <tr>
                        <td colspan="2" style="text-align:center;background-color:#9BC4E2;">Booking 	Fee</td>
                    </tr>
                    <tr>
                        <td>+24 hrs notice and/or weekdays</td>
                        <td>-24 hrs notice and/or weekends</td>
                    </tr>
                    <tr>
                        <td>£5.50</td>
                        <td>£7.50</td>
                    </tr>
                </table>

                <p style="font-weight:bold;">Baby sitters rate - £10/hr (minimum 4 hrs booking required)</p>

                <p style="font-weight:bold;">Bank holiday rates - £12 - 15/hr (minimum of 4 hrs booking required)</p>

                <p>Agency fee for a one off booking is £30 with no additional booking charges. <a href="/services/EmergencyChildcare" style="text-decoration:underline;">Click here</a> for more information on emergency childcare/one off bookings.</p>

                <p><a href="/home/contact" style="text-decoration:underline;">Contact us</a> to book your first babysitting service through us. Rest assured, we will not let you down.</p>
                
            </div>
        </div>
    </div>
</div>

