@{
    ViewBag.Title = "EmergencyChildcare";
}

<div class="services-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Emergency Childcare</h2>

                    <div class="about-info">
                        <p>There will be times when you just need someone to come and help you out with childcare. It may be because work urgently needs you, your nanny has fallen ill or your child and can’t attend nursery, a family member needs to be looked after, or you simply feel a bit overwhelmed. Our emergency childcare service can save the day. </p>
                        <p>Nationwide Nannies will provide you with a nanny within two hours of your call. Our emergency nannies are consummate professionals who know how to adapt quickly to different routines, families and schedules. </p>
                        <p>Like all of our nannies, they will be fully DBS checked and will hold a childcare qualification.  You can call us from 7am to 10pm, 365 days a year. This special service is designed to make a stressful situation into a manageable one.</p>

                        <div style="text-align:center; font-weight:bold;">
                            <p>Booking fee - £30 (per day and/or night)</p>
                            <p>Child minder’s Rate - £10/hr (minimum of 4 hrs booking required)</p>
                            <p>Bank holiday rates - £12 - 15/hr (minimum of 4 hrs booking required)</p>
                        </div>

                        <p><a href="/home/contact" style="text-decoration:underline;">Contact us</a> today to book your first emergency childcare service through us.  </p>

                        <p>For terms of business <a href="/files/Terms of Business - babysitting And emergency childcare services.pdf" target="_blank" style="text-decoration:underline;">click here</a> </p>

                        <p>You must ensure that you read, understand and agree to the above terms before booking through us.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>