@{
    ViewBag.Title = "Nannies";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Nannies</h2>

            <div class="about-info">
                <p style="font-family: 'Lora', serif; font-style:italic;">Nationwide Nannies provides professional childcare services on a temporary and long term basis. Placements longer than 12 consecutive weeks are considered as long-term and vice versa. We possess an extensive database of high calibre candidates and enclosed are the range of nannies you can choose from that could meet your family’s individual needs. (Please bear in mind salaries quoted under this section are a guideline only) </p>

                <p style="font-family: 'Lobster', cursive;"><span style=" font-weight:bold;">Day-to-Day Nanny:</span> A day-to-day nanny does not live with you but will work around 10-11 hours per day (full-time).  His/her work will consist mainly of nursery duties <a href="/home/parents" style="text-decoration:underline;">click here</a>. Additional babysitting and housework arrangements can be agreed at the interview stage and finalised in the form of a written contract. Nannies are usually given a mileage allowance if they drive to work. A day-to-day nanny will usually earn between £9 - 12 net per hour. </p>

                <p style="font-family: 'Indie Flower', cursive;"><span style="font-weight:bold;">Live-in Nanny:</span> A live-in nanny will typically work 10-12 hours per day. Extra hours, evening babysitting duties and housework requirements can be discussed during the interview stage. In general, live-in nannies babysit once or twice a week, between Mon- Thurs, in the evenings. This can be taken into account when deciding a salary. A live-in nanny should be provided with his/her own bedroom, preferably his/her own bathroom and the cost of all food and bills (excluding telephone). Usually, a live-in nanny is treated like one of the family. The majority of nannies would also have access to a car. A typical salary would be between £275-400 net per week.</p>

                <p style="font-family: 'Pacifico', cursive;"><span style="font-weight:bold;">Nanny Share:</span> This option is quite popular amongst parents and is also cost-effective. We can either match you with another family in the area and children will typically be looked after together at one of the families’ homes. Another option is employing a nanny who has a child of their own. Salary for this will vary from the standard rates and can be discussed in the initial interview.</p>

                <p style="font-family: 'Dancing Script', cursive;"><span style="font-weight:bold;">Temporary Nanny:</span> This covers all childcare related services provided for placements less than 12 consecutive weeks i.e. holiday nanny etc. Salary for such services is more or less similar to the rates of a day to day live out nanny (£10 - £12 (net/hour) or £80 - £150 (net/day), depending on the hours required). If the nanny is required to stay over-night an extra charge of £50 will be incurred, once children are in bed. Charges for bookings on public holidays i.e. Christmas/New Year’s Eve, Easter etc. are double the standard rates (£15 - £20 net/hr).  </p>

                <p><span style="font-weight:bold;">Junior Nanny/ Mother’s Helper:</span> A Junior Nanny is usually a live-in nanny, although they can also be daily. This is an ideal role for families with children at school. They will require more supervision from you than a more experienced nanny/au-pair, as they may be newly qualified or working towards a professional qualification. This is generally a supervised role but on occasions he/she can be left solely in charge of the children for short durations of time. A junior nanny will earn £150-250 (net/week), live in, or £7-8 (net/hr), live out. </p>

                <p><span style="font-weight:bold;">Nanny Housekeeper:</span> A Nanny-Housekeeper can be either live-in or daily. In addition to usual nannying duties, they will also carry out housekeeping duties such as laundry, cleaning and cooking etc. A Nanny-Housekeeper will typically earn £250-£400 (net per week), live in.</p>
            </div>
        </div>
    </div>
</div>
