@{
    ViewBag.Title = "Night Nurses, Night Nanny & Maternity Nurse - Nationwide Nannies";

    ViewBag.MetaKeywords = "Night Nurses, Night Nanny & Maternity Nurse - Nationwide Nannies";
    ViewBag.MetaDescription = "Night Nurses, Night Nanny & Maternity Nurse - Nationwide Nannies";
}

<div class="services-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Maternity/ Night Nurses</h2>

                    <div class="about-info">
                        <p>All our maternity nannies will have knowledge and experience relating to new-borns and will hold associated qualifications (typically, an NNEB or BTEC diploma) or possess extensive experience in this field. By nature of the role, maternity nannies will have a more intensive workload than other nannies and are there to assist both mother and baby.  Typically they are hired to provide support after a caesarean section. </p>

                        <p>When they first start, they may only have one full day and night free per week. Once the baby is starting to settle through the night, maternity nannies will fall into a 12-hour working day/night shifts. However, they will remain “on call” for 24 hours a day. A maternity nurse will bring a wealth of knowledge to the early, formative period of your child’s life, working as their sole or joint carer. Generally, she will sleep in the baby’s room and is responsible for taking care of the baby’s needs throughout the night. On their day off they can ask to sleep alone or take time off outside the house.</p>


                        <p>The main responsibilities of a maternity/night nurse include: </p>

                        <ul>
                            <li>	postnatal care </li>
                            <li>	caring for the newly born, setting up night patterns and settling them into a manageable routine</li>
                            <li>	advising on all aspects of baby care including breast/bottle feeding, safety and hygiene</li>
                            <li>	night feeds, making and sterilizing bottles</li>
                            <li>	care of baby’s clothes etc. including baby’s laundry as well as nursery cleanliness</li>
                        </ul>

                        <p>The above list is endless. Maternity/night nurses fall under the umbrella of temporary nannies and will usually be employed for 4 - 8 weeks after the baby’s birth. However, the length of time you wish to employ them for is flexible and depends on individual circumstances. Salary is based on experience, hours required and number of children they care for at one given time i.e. twins/triplets. Maternity/night nurses usually earns £650 - £1000 (gross) per week and as they are self-employed, they are responsible for paying their own tax and national insurance. </p>

                        <div style="width:750px; margin:auto;">
                            <p>Estimates of daily rates (gross) based on hours worked and children cared for are as follows:</p>

                            <table class="nanny-table" style="width:350px; margin:auto;">
                                <tr>
                                    <td>24 hrs care for one baby</td>
                                    <td>£150 - £200</td>
                                </tr>
                                <tr>
                                    <td>24 hrs care for twins </td>
                                    <td>£200 - £250</td>
                                </tr>
                                <tr>
                                    <td>24 hrs care for triplets</td>
                                    <td>£250 - £300</td>
                                </tr>
                            </table>
                        </div>

                        <p>Maternity nurses encourage parents’ involvement and give them the confidence in handling their newly born. They not only help the mother during this difficult time but also instil a positive relationship between the new born and other siblings. Due to their demand it is advised to book them early, if possible. As they undertake a lot of responsibilities and based on their contribution towards a family they are worth every penny.</p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
