@{
    ViewBag.Title = "Nanny & Childcare Qualifications Guide - Nationwide Nannies";
    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Visit the Nationwide Nannies website today to view an online list of the qualifications you might expect to see from your new nanny or babysitter.";

}



<div class="clients-bg" style="background: url(../images/DSC_0610.jpg);background-size: cover;">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Childcare Qualifications Guide</h2>

                    <div class="about-info">
                        <p>Nationwide Nannies believes in providing the highest standards of childcare so we mainly offer placements to nannies that possess relevant childcare experience and qualifications. However, we place both qualified and unqualified nannies. Unqualified nannies will have relevant experience and will most often have a view to working towards a qualification.</p>

                        <p>There are tons of childcare qualifications that can equip those wishing to make a career within the childcare sector. We consider and value candidates with childcare experience as equally as their counterparts. We highly recommend to everyone working with children that they embark on the journey of obtaining a qualification. Childcare related courses and qualifications offer the right tools to understand the needs and development of children from birth to eight years.</p>

                        <p>There are various courses and qualifications our nannies/babysitters undertake. Out of these the most popular and well-known ones are as follows:</p>

                        <p>
                            <span class="paragraph-header">BTEC (Business & Technology Education Council):</span>
                            A provider of secondary school leaving qualifications and further education qualifications in England, Wales and Northern Ireland. BTEC qualifications, especially Level 3, are accepted by many universities. There are several full/part-time courses that fall under this umbrella and are suitable for those working with children.
                        </p>

                        <ul>
                            <li><span style="text-decoration: underline;">BTEC (level 2 & 3) Children’s Care, Learning & Development</span> - We highly recommend this course to all professionals looking to obtain a childcare qualification. This course is ideal for those working with the age group 0 - 8 and focuses on work placements in different environments e.g. nursery, special needs/primary school. As a combination of practical experience and assignments, these vocational qualifications offer a great insight into a child’s development in the early years.</li>
                            <li><span style="text-decoration: underline;">BTEC National Diploma Childhood Studies (Nursery Nursing)</span> - This is a full time, two year course and distinguishable from the BTEC National Certificate in Childhood Studies (Nursery Nursing). It is also of a higher level than the NNEB diploma. The course focuses primarily on academic work and includes various modules for those interested in childcare, teaching, nursing and social work.</li>
                            <li><span style="text-decoration: underline;">BTEC Higher National Diploma (HND) Childhood Studies</span> - This is a full-time course that mainly focuses on childhood, the early years and adolescence. It is useful for those considering a career in nursing, teaching, midwifery, youth/social work or any career that involves supporting children and families. Upon successful completion of the course you will have gained 240 UCAS points and is equivalent to the first year of a degree.</li>
                            <li><span style="text-decoration: underline;">BTEC National Certificate in Childhood Studies (Nursery Nursing)</span> - A lower level one-year part time course equivalent to 2 A levels, NVQ Level 3 or relevant work experience.  This is ideal primarily for slightly mature candidates looking to refresh their knowledge or obtain a formal qualification after years of experience.</li>
                        </ul>

                        <p>
                            <span class="paragraph-header">NNEB (National Nursery Examination Board): </span>
                            This diploma in nursery nursing indicates that the holder undertook a 2 years (full-time) course covering the ages from 0 – 7 years. This is a widely recognised qualification that equips students with hands on experience in addition to the academic course covering all aspects of early childhood. The qualification covers additional knowledge such as first aid, health and hygiene and is now replaced by a CACHE Level 3.
                        </p>

                        <p>
                            <span class="paragraph-header">CACHE (The Council for Awards in Care, Health and Education):  </span>
                            A specialist body that offers courses and qualifications in childcare, written and developed by experts. In 1994, the NNEB merged with the Council for Early Years Awards to form CACHE. They have four primary roles:
                            <ul>
                                <li>To write and assess training courses for new entrants to childcare and play work professions. </li>
                                <li>To accredit the competence of childminders and play workers in their workplace. </li>
                                <li>To raise the standard of children's care, education and play work. </li>
                                <li>They are the Early Years National Training Organisation.</li>
                            </ul>
                        </p>

                        <p>
                            Some of the most popular CACHE qualifications include:
                            <ul>
                                <li><span style="text-decoration: underline;">CACHE Foundation Award in Caring for Children (CFCC)</span> - A preview of the basic knowledge and understanding required to work with children</li>
                                <li><span style="text-decoration: underline;">CACHE Level 2, Certificate in Childcare & Education</span> - Students have the option to either do it full - time (one year) or part- time (2 years). This is primarily the first step towards obtaining a qualification and after a bit of experience can later on be enhanced with a CACHE Level 3, Diploma in Childcare and Education/NVQ Level 3.</li>
                                <li><span style="text-decoration: underline;">CACHE Level 3, Diploma in Childcare and Education (DCE)</span> - This is an intense course that has replaced the NNEB. It is for those committed to establishing their career in childcare and also serves as a platform for higher qualifications resulting in better career prospects.  It can be completed either full-time (2 years) or part-time (3 years). The course focuses on all aspects of childcare from 0 - 7 years and is a mix of academic and work placements in several environments i.e. nurseries, primary schools and hospitals. It is ideal for nursery practitioners, nannies, and social workers. It can also be used as an entry level in teaching/midwifery. Combined with one year’s experience in a nursery environment it can also be used as an entry to obtain a social worker’s qualification thereafter, making a prosperous career in child protection.</li>
                                <li><span style="text-decoration: underline;">CACHE Level 3, Certificate in Childminding Practice (CCP)</span> – Developed with the National Childminding Association (NCMA) this course is ideal for registered childminders.</li>
                            </ul>
                        </p>

                        <p>
                            <span class="paragraph-header">NVQs (National Vocational Qualifications):</span>
                            These are work based awards in England, Wales and Northern Ireland that are achieved through assessment and training. In Scotland, they are known as Scottish Vocational Qualification (SVQ). NVQs are purely the government’s initiative to help recognise those with experience and no formal qualification via the award of a qualification.
                        </p>

                        <p>
                            As this is a purely based on practical experience, in order to achieve an NVQ, candidates must prove that they have the ability and competence to carry out their job to the required standard. The course comprises of 15 modules that must be completed in order to achieve the qualification. Although, there is no time limit it usually takes between 1 -2 years to complete this. The course is for anyone, including volunteers, primarily based in a workplace setting.
                            <ul>
                                <li><span style="text-decoration: underline;">NVQ Level 2, Childcare & Education</span> - This is an ideal course for candidates working in supervised roles e.g. nursery assistants, childminders, mothers helper, playgroup workers. </li>
                                <li><span style="text-decoration: underline;">NVQ Level 3, Childcare & Education</span> - This is considered the equivalent of NNEB and is usually obtained by professional childcare workers including those in higher managerial positions. In order to enrol on this qualification, candidates must have GCSE English and Maths.</li>
                                <li><span style="text-decoration: underline;">NVQ Level 4, Childcare & Education</span> - This is an intense course primarily undertaken by those already working in managerial positions.</li>
                            </ul>
                        </p>

                        <p>
                            <span class="paragraph-header">City & Guilds (NVQ Level 2 & 3) Children & Young People’s Workforce:</span>
                            These vocational courses are similar to CACHE courses and are for those primarily in quest of a wider base in childcare, enabling them to care for children with additional/special education needs. These qualifications are designed for learners who want to develop a career as a childminder, youth worker or nursery practitioners/manager. (Available in England, Wales and Northern Ireland)
                        </p>

                        <p>
                            <span class="paragraph-header">Montessori:</span>
                            A well-known international qualification originally based on the theory established by Dr.Montessori - a holistic approach that aims to develop the child as a whole. Fundamental to the approach is the belief that a child's early years from birth to six are the period when they have the greatest capacity to learn. This highly effective method of teaching, which could be used with great success with each and every child, is based on the model that children are at liberty to choose and act freely within an environment. The Montessori model emphasises play/interaction between mixed age groups - young ones learn concepts from materials/discovery rather than instructions. In order to embark on this qualification, candidates must possess a degree and at least one year’s experience of working as a trainee teacher. Montessori teachers tend to be people who feel strongly about the importance of holistic approaches to learning. The philosophy often attracts more mature students.
                        </p>

                        <p>
                            <span class="paragraph-header">BA Childhood Studies:</span>
                            This is an intense under-graduate qualification that can be completed full-time (3 years) or part-time (6 years). This is a university qualification that gives candidates an in-depth understanding of the factors that shape children’s lives from birth to 18 years. Such qualifications are usually obtained by those in supervisory/managerial roles and serve as an entry level for a PGCE (Postgraduate Certificate in Education).
                        </p>

                        <p>
                            <span class="paragraph-header">PGCE (Postgraduate Certificate in Education):</span>
                            This is a one year higher education course in England, Wales and Northern Ireland for undergraduate degree holders training to achieve the teacher status in maintained schools. In addition to the PGCE qualification itself, those who have successfully completed the course in England and Wales are recommended for Qualified Teacher Status (QTS) - the requirement to teach in state maintained schools in England and Wales. Those passing PGCEs in Northern Ireland are granted 'eligibility to teach' in Northern Ireland (equivalent to QTS). Furthermore, the PGCE is also widely recognised in Scotland and the rest of world, allowing holders to easily register as teachers there. Applications for admission to PGCE courses are handled by UCAS Teacher Training.
                        </p>

                        <p>
                            <span class="paragraph-header">Early Years Professional Status (EYPS):</span>
                            This is a professional status for practitioners in England with a focus on the Early Years Foundation Stage (ages 0 – 5). An EYPS is also broadly equivalent to Qualified Teacher Status (QTS). Introduced by the British government in 2007, EYPS courses require a degree, and include an assessment in an early years setting - either a placement or within the trainee's own early years workplace.
                        </p>

                        <p>
                            <span class="paragraph-header">QTS (Qualified Teacher Status):</span>
                            This is mainly for candidates looking to work with/teach children from 5 – 18 years of age. Upon obtaining this qualification, postgraduates can teach in schools in England and Wales. Anyone wanting to teach in a state maintained school in England or Wales must obtain a qualified teacher status (QTS). An undergraduate degree and successful completion of a teacher training programme is compulsory for a QTS recommendation. One of the popular routes to achieving QTS, for those already in possession of a degree, involves undertaking a postgraduate teacher training course, such as the Postgraduate Certificate in Education (PGCE).
                        </p>

                        <p style="font-style:italic;">(Based on government guidelines, requirements for qualifications are subject to changes from time to time. Kindly ensure your research is thorough and you are checking the recent criteria before enrolling for any childcare qualification)</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

