
@{
    ViewBag.Title = "EmployerResponsibilities";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Employer’s Responsibilities</h2>

            <div class="about-info">
                <p>As an employer, you are legally obliged to carry out certain responsibilities with regards to your employee.</p>


                <p class="paragraph-header">For salary guidelines <a href="/services/Nannies" style="text-decoration:underline;">click here</a></p>
                
                <p class ="paragraph-header">PAYE and National Insurance Contributions:</pclass>

                    <ul>
                        <li> For help with payroll services and legal obligations that you must adhere to as an employer, we heartily recommend ‘Nanny Tax’. This specialised service offers assistance and guidance with regards to your responsibilities as an employer. Please see www.nannytax.co.uk.</li>
                        <li> However, you may wish to register yourself independently. You will then be required to register yourself as an employer and operate a PAYE scheme on your nanny’s behalf. In each payslip, you are required to indicate PAYE and NI contributions made on the behalf of your nanny.</li>
                        <li> As an employer, you are required to pay employer’s NI. This counts towards the employee’s (nanny’s) Statutory Sick Pay, Maternity Pay, unemployment and state pension benefits. You will also be obliged to complete an employer’s annual tax return. If you do not declare your employee’s earning please be aware that you will be committing a criminal offense.</li>
                    </ul>
                                                                                                
                <p>
                    <span class="paragraph-header">Insurance:</span>
                    <ul>
                        <li>It is vital that, as an employer, your nanny is properly insured. Whilst your nanny is working for you, they are your responsibility. You must therefore ensure that you have Employer’s and Public Liability insurance cover.</li>
                        <li>Similarly, if your nanny is to have use of a car whilst working, or will be required to travel, they must have the appropriate insurance. It is best to be overly cautious with regards to your employee since the consequences of an instance of ‘bad luck’ can be serious. </li>
                    </ul>
                </p>
                
                <p>
                    <span class="paragraph-header">Pension Scheme:</span>
                </p>
                                
                <p></p>
                
                <p></p>
            </div>
        </div>
    </div>
</div>

