
@{
    ViewBag.Title = "EmployThroughUs";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Employ through us?</h2>

            <div class="about-info">
                <p>We know that you have an ideal nanny in mind, someone who will enrich your child’s life through his or her dedication, talent and enthusiasm. Nationwide Nannies is committed to making that vision a reality.</p>
                
                <p>Our job is to act as someone you can trust to save you time and energy by hand picking a shortlist of passionate and reliable candidates based on your specifications. We meet all our candidates face to face to ensure that we are putting forward the best match to your family.</p>
                
                <p>We understand how important it is to trust another with your most prized possession in the world. We assure you what you feel is exactly how we feel. With this in mind, we are always rigorous in our screening process, making sure that all our candidates have solid employment history, education background and an up to date DBS. We will check all references thoroughly as well.</p>
                
                <p>Nationwide Nannies will use its experience and industry knowledge to support you in every step of selecting a Nanny. We will provide you follow up support and guidance whilst you are employing one of our candidates. We will work closely with you when considering the legal obligations of employing a nanny. Details such as payrolls and contracts need not be a worry.</p>
                
                <p>Our ethos is to ensure that we have long-lasting and consistent relationships with our clients. We pride ourselves on having a hands on approach so you can rely on us right from the point of initial contact all the way through, even after employing a nanny. We offer a wide variety of emergency childcare services from day time to evening and weekend care. You can reply on us completely when your nanny is off sick, on holiday or involved in jury service. We are here for you 365 days of the year and can assist you with emergency help in as little as two hours’ notice.</p>
                
                <p>Using a nanny agency guarantees a better success rate when searching for a suitable candidate. Not only we will save you the time to screen and vet candidates but the amount of time we spend with you, understanding your needs, and the suitable candidates helps us ensure that the match is like to like. We possess a passion for childcare and a commitment to yourselves. We believe in long-lasting relationships between our clients and candidates which are based on trust and confidence.</p>

                <p>You can have complete confidence that your confidential information will be treated with complete discretion.</p>

                <p>In addition to the above, we also offer a replacement guarantee. You can have complete peace of mind in all your dealings with us knowing we have one of the longest refund and replacement policies within the industry.</p>

            </div>
        </div>
    </div>
</div>

