
@{
    ViewBag.Title = "StartYourNannySearch";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Start your nanny search</h2>

            <div class="about-info">
                
                <p>Hiring can be a disconcerting process on its own, let alone employing the right carer for your child(ren). At Nationwide Nannies we strive to ensure that the process of employment is smooth and hassle-free.  We have a huge database of high calibre candidates and are confident that we can best fit you with the nanny you always envisaged. Above all, registration with us comes with no cost.</p>

                <p>To relieve yourself of the process of sifting through applications all you need to do, to get started with the process, is to complete the inquiry form. (Link) We recommend that you are as detailed as you can be on the form to help us meet your expectations and find the best match for you on a personal level. A member of our dedicated team will be in contact with you shortly thereafter to get a feel of what your needs are. If you wish to talk to us, we advise that you make a wish list so that you can convey to us your specifications for a nanny. <a href="/home/contact" style="text-decoration:underline;">click here</a> </p>
                
                <p>We take your information and sift through our potential candidates, drawing up a shortlist. We take pride in the fact that we interview our candidates face to face and can assure you that you will only be presented with candidates who we feel fit your family perfectly.</p>
                
                <p>Next, we will help you arrange face-to-face interviews with suitable candidates who will possess relevant childcare experience, if not qualifications. These interviews can be conducted at your home, in an environment where your children are most comfortable. (Call us for advice on areas that you might want covered in a face to face interview).</p>
                
                <p>Once you have chosen a potential nanny, they will take part in a trial shift in order to gage how well they ‘click’ with your child and family.</p>
                
                <p>
                    <span class="paragraph-header">Safer Recruitment</span> <br />
                    We demand that all potential candidates provide us with a minimum of two suitable references. At the point of offer, these files will be passed over to you to corroborate for yourself, if you so wish.
                </p>
                
                <p>All candidates must have an up to date DBS (CRB). We also advise parents to enrol on the updating DBS service.</p>
            
            </div>
        </div>
    </div>
</div>
