@{
    ViewBag.Title = "TermsConditions";
}



<div class="clients-bg">
    <div class="image-blur-div">


        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Terms &amp; Conditions</h2>

                    <div class="about-info">
                        
                        <p>For terms of business <a href="" target="_blank" style="text-decoration:underline;">click here</a> </p>

                        <p>You must ensure that you read, understand and agree to the above terms before submitting your requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

